@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('SFProDisplay-Regular.eot');
  src: url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       url('SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg'),
       url('SFProDisplay-Regular.ttf') format('truetype'),
       url('SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

